/* Content List */
/***************/
// 1.Layout
// 2.Header
// 3.Content
// 4.Footer
/**************/



/* 1. Layout */
/* Background */
.custom-bg{
    background-repeat:repeat;
    background-size: cover;
    font-family: $font-family-sans-serif;
    height: 100vh;
    width: 100%;
}


/* Sidebar */
@media (max-width: 760px){
    .customerNav {
        display:none !important;

    }
}
@media (min-width: 768px){
    .navbar-vertical.custom-navbar-expand-md {
        position: absolute !important;
        @include radius($border-top-left:rem(19px), $border-top-right:rem(0px), $border-bottom-left:rem(19px), $border-bottom-right:rem(0px));
        z-index: 999;
    }

    .custon-paneldashboard  {
        margin-left: rem(250px);
        padding: rem(15px);
        padding-top: rem(100px);
    }
    .custon-panelbodydashboard {
        width: auto;
        height: auto;
        overflow: auto;
        max-height: rem(800px);
    }
    .customerNav {
        width: 80% !important;
        right: 0 !important;
        left: 20% !important;

    }
}


@media (min-width: 1024px){
    .navbar-vertical.custom-navbar-expand-md {
        position: absolute !important;
        @include radius($border-top-left:rem(19px), $border-top-right:rem(0px), $border-bottom-left:rem(19px), $border-bottom-right:rem(0px));
        z-index: 999;
    }

    .custon-paneldashboard  {
        margin-left: rem(250px);
        padding: rem(15px);
        padding-top: rem(100px);
    }
    .custon-panelbodydashboard {
        width: auto;
        height: auto;
        overflow: auto;
    }
    .customerNav {
        width: 70% !important;
        right: 0 !important;
        left: 30% !important;

    }
}


/* Card */
.custom-cardbody {
    @include radius($border-top-left:rem(10px), $border-top-right:rem(10px), $border-bottom-left:rem(10px), $border-bottom-right:rem(10px));
    @include box-shadow($top: 1px, $left: 4px, $blur: 4px, $color: #00000023, $inset: "");
    .card-body {
       padding: rem(12px);
        display: flex;
        align-items: center;
        .icon {
            height: rem(40px);
            width: rem(40px);
            padding: rem(5px);
        }
    }
}

.custom-card {
    @include radius($border-top-left:rem(10px), $border-top-right:rem(10px), $border-bottom-left:rem(10px), $border-bottom-right:rem(10px));
    @include box-shadow($top: 1px, $left: 4px, $blur: 4px, $color: #00000023, $inset: "");
}

/* Header */

.avatar img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;}



/* Text */
.title-xl {
    font-size:rem(28px);
}
.title-lg {
    font-size:rem(24px);
}
.title-md {
    font-size:rem(18px);
}
.title-sm {
    font-size:rem(16px);
}
.title-xs {
    font-size:rem(14px);
}

.span-xl {
    font-size:rem(20px);
}
.span-lg {
    font-size:rem(18px);
}
.span-md {
    font-size:rem(14px);
}
.span-sm {
    font-size:rem(12px);
}
.span-xs {
    font-size:rem(10px);
}

.p-xl {
    font-size:rem(20px);
}
.p-lg {
    font-size:rem(18px);
}
.p-md {
    font-size:rem(14px);
}
.p-sm {
    font-size:rem(12px);
}
.p-xs {
    font-size:rem(10px);
}


.font-weitgh-medium {
    font-weight: 700;
}


//Web Panel
.custom-panel {
    background: rgba(255,255,255,0.6);
    margin: auto;
    width: auto;
    height: auto;
    @include radius($border-top-left:rem(18px), $border-top-right:rem(18px), $border-bottom-left:rem(18px), $border-bottom-right:rem(18px));
    @include box-shadow($top: 1px, $left: 4px, $blur: 4px, $color: #00000023, $inset: "");

}

/*  Buttons */
.custom-btn-secondary {
    @include btn-secondary();
}
.custom-btn-primary {
    @include btn-primary();
}

/* Text color */

.text-secondary {
    color: $secondary;
}
.text-primary {
    color: $primary;
}
.text-black {
    color: $black;
}


/* Form */
.form-control:focus {
    outline: none !important;
    background-color: transparent !important;
    border: 0 !important;
}

.custom-input {
    @include input;
}
.customtextArea {
    @include textArea;
}



/* Modal */



.custom-close {
    padding: rem(5px) !important;
    margin: 0 !important;
    background: transparent;
    background-color: transparent;
    text-align: center;
    display: inline-flex;
    align-items:center;

    &:hover, &:focus, &:visited {
        background: transparent;
        background-color: transparent;
        box-shadow: none;
    }
    i {
        font-size: rem(13px);
    }
}

.text-greyicon {
    color: $ot-grey;
}

/* 2. Header */

@import './partials/header';


/* 3. Content */

@import './partials/content';



/* 4. Footer */

