/* Content List */
/***************/
// 1.Layout
// 2.Header
// 3.Content
// 4.Footer
/**************/



/* 1. Layout */
/* Background */
.custom-bg{
    background-repeat:no-repeat;
    background-size: cover;
    font-family: $font-family-sans-serif;
    height: 100vh;
    width: 100%;
}

/* Text */
.title-xl {
    font-size:rem(28px);
}
.title-lg {
    font-size:rem(24px);
}
.title-md {
    font-size:rem(18px);
}
.title-sm {
    font-size:rem(16px);
}
.title-xs {
    font-size:rem(14px);
}

.span-xl {
    font-size:rem(20px);
}
.span-lg {
    font-size:rem(18px);
}
.span-md {
    font-size:rem(14px);
}
.span-sm {
    font-size:rem(12px);
}
.span-sm {
    font-size:rem(10px);
}

.p-xl {
    font-size:rem(20px);
}
.p-lg {
    font-size:rem(18px);
}
.p-md {
    font-size:rem(14px);
}
.p-sm {
    font-size:rem(12px);
}
.p-xs {
    font-size:rem(10px);
}



//Web Panel
.custom-panel {
    background: rgba(255,255,255,0.6);
    margin: auto;
    width: auto;
    height: auto;
    @include radius($border-top-left:rem(18px), $border-top-right:rem(18px), $border-bottom-left:rem(18px), $border-bottom-right:rem(18px));
    @include box-shadow($top: 1px, $left: 4px, $blur: 4px, $color: #00000023, $inset: "");

}

/*  Buttons */
.custom-btn-secondary {
    @include btn-secondary();
}
.custom-btn-primary {
    @include btn-primary();
}

/* Text color */

.text-secondary {
    color: $secondary;
}
.text-primary {
    color: $primary;
}
.text-black {
    color: $black;
}


/* Form */
.form-control:focus {
    outline: none !important;
    background-color: transparent !important;
    border: 0 !important;
}

.custom-input {
    @include input;
}
.customtextArea {
    @include textArea;
}



/* Modal */



.custom-close {
    padding: rem(5px) !important;
    margin: 0 !important;
    background: transparent;
    background-color: transparent;
    text-align: center;
    display: inline-flex;
    align-items:center;

    &:hover, &:focus, &:visited {
        background: transparent;
        background-color: transparent;
        box-shadow: none;
    }
    i {
        font-size: rem(13px);
    }
}

/* 2. Header */

@import './partials/header';


/* 3. Content */

@import './partials/content';



/* 4. Footer */

