.customHeader {
    .logoHeader {
        width: rem(150px);
        height: auto;
        img {
            object-fit: cover;
        }
    }
    .custom-btn-secondary{
        height: rem(40px);
        font-size: rem(13px);
        min-width: rem(150px);

        @include box-shadow($top: 0px, $left: 3px, $blur: 6px, $color: #00000029, $inset: "");
    }


    @media (min-width: 768px) {
        .custom-btn-secondary {
            min-width: rem(150px);
        }
    }
}

 .customerNav {
    @include box-shadow($top: 0px, $left: 3px, $blur: 6px, $color: #00000033, $inset: "");
    @include radius($border-top-left:rem(0px), $border-top-right:rem(20px), $border-bottom-left:rem(0px), $border-bottom-right:rem(0px));

    width: 85% !important;
    right: 0 !important;
    left: 15% !important;

}
